.App {
  background-color: #f5f7f6;
}
.App-wrapper {
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h h"
  "lnav content rnav"
;
  grid-template-rows: 80px 1fr 60px;
  grid-auto-columns: 2fr 6fr 2fr;
  grid-gap: 10px;
  padding-left: 10rem;
  min-height: 45rem;

}
.App-wrapper-content {
  grid-area: content;
  background-color: white;
  padding: 20px;
}


.rnav {
  grid-area: rnav;
  background-color: bisque;
  padding-left: 1rem;

}
