.App-wrapper {
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h h"
  "lnav content rnav"
;
  grid-template-rows: 80px 1fr 60px;
  grid-auto-columns: 2fr 6fr 2fr;
  grid-gap: 10px;
  padding-left: 10rem;


}



.rnav {
  grid-area: rnav;
  background-color: bisque;
  padding-left: 1rem;

}
